#--- Player size settings ---#

# VRM model scale
ModelScale=1.1

# Y-coordinate offset of the model
ModelOffsetY=0

# Player collider height
PlayerHeight=1.85

# Player collider radius
PlayerRadius=0.5

# offset from the back of a chair, sitting on the edge.
SittingOnChairOffset=<0, 0, 0>

# Offset when sitting on throne
SittingOnThroneOffset=<0, 0, 0>

# Offset when sitting in a ship
SittingOnShipOffset=<0, 0, 0>

# Offset when holding the mast
HoldingMastOffset=<0, 0, 0>

# Offset when standing on a ship front
HoldingDragonOffset=<0, 0, 0>

# Use this to offset yourself when you're sitting on the ground
SittingIdleOffset=<0, 0, 0>

# Use that if your smol character stuck in air while sleeping
SleepingOffset=<0, 0, 0>



#--- Equipment transformation ---#

# Offset of the equipment position of the right hand
RightHandItemPos=<0, 0, 0>

# Offset of the equipment position of the left hand
LeftHandItemPos=<0, 0, 0>

# Offset of back item position of the right hand. (+Y is forward, +Z is down, +X is right)
#right back items<when you press R>
RightHandBackItemPos=<0, 0, 0>
KnifeSidePos=<0, 0, 0>
KnifeSideRot=<0, 0, 0>
StaffPos=<0, 0, 0>
StaffRot=<0, 0, 0>

# Offset of back item position of the left hand. (+Y is forward, +Z is down, +X is right)
#left back items<when you press R>
LeftHandBackItemPos=<0, 0, 0>
BowBackPos=<0, 0, 0>
StaffSkeletonPos=<0, 0, 0>


#--- Misc ---#

# VRM model brightness
ModelBrightness=0.8

# This will process and turn textures into standard textures. it will take some time, like 20 seconds or so if your avatar has a lot of textures.
# cannot be used at the same time as UseMToonShader, and will override the UseMToonShader setting
AttemptTextureFix=true

# Adjust the camera position to the height of the VRM model
FixCameraHeight=true

# Use the MToon shader
# If you want to use it, set "SSAO" to Off in the graphics settings
UseMToonShader=false

# Make the player fade out when the camera gets close
# It is recommended to disable it on small characters
EnablePlayerFade=true



#--- SpringBone settings ---#

# Stiffness scale of SpringBone
SpringBoneStiffness=1.0

# Gravity strength scale of SpringBone
SpringBoneGravityPower=1.0



#--- Scaling ---#

# Scale for the equipment in hands
EquipmentScale=1.0

# Scale for the interaction distance
InteractionDistanceScale=1.0

# Scale for attack distance
AttackDistanceScale=1.0

# Depth on which your character starts swimming
SwimDepthScale=1.0



